<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="kavin.learn.kotlinlearn">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@drawable/kotlin_icon"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".Databinding.DatabindingActivity">
        </activity>
        <activity android:name=".TabLayout_ViewPager.TabLayoutActivity">
        </activity>
        <!--
 <meta-data
                android:name="com.google.android.gms.version"
                android:value="@integer/google_play_services_version"/>
        -->
        <service android:name=".PushNotification.FirebaseMessageService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <activity android:name=".PushNotification.PushNotificationActivity"/>
        <activity android:name=".EventBus.EventBusActivity"/>
        <activity android:name=".RoomDb.RoomDBActivity"/>
        <activity android:name=".MvmmRecyclerview.Activity.MvmmRecyclerviewActivity"/>
        <activity android:name=".RecyclerView.RecyclerviewActivity"/>
        <activity android:name=".RuntimePermissions.RunTimePermissionActivity"/>
        <activity android:name=".MainPage.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".MainPage.MainActivity">
        </activity>
    </application>

</manifest>